# Ignora fisierele specifice sistemelor de operare
.DS_Store        # macOS
Thumbs.db        # Windows
Desktop.ini      # Windows

# Ignora folderele si fisierele generate de Python
__pycache__/     # Fisiere bytecode Python
*.pyc            # Fisiere bytecode Python
*.pyd            # Module Python din C/C++
*.so             # Module Python compilate
venv/            # Folderul mediului virtual (daca folosesti venv)
.env             # Fisiere pentru variabile de mediu (unde ai putea stoca chei, etc.)

# Ignora fisierele generate de Jupyter/Colab
.ipynb_checkpoints/ # Checkpoints generate de Jupyter/Colab

# Ignora fisierele mari sau sensibile 
# Setul de date CICIDS 2017 
data/                 # Ignora tot folderul 'data' pentru a preveni incarcarea accidentala a datasetului

# models/*.joblib      # Ignora toate fisierele .joblib din folderul models
# models/*.pkl         # Ignora toate fisierele .pkl din folderul models

# Ignora output-uri si log-uri
*.log
*.out
